// Burger menu navbar
.btn {
    color: #18B0FF;
    font-family: $font-title;
    font-weight: 600;
    font-size: larger;
    text-decoration: none;
    padding: 10px 2px 10px 2px;
    border: none;
    background-color: white;
    text-align: center;
    justify-content: center;
    width: 60px;
    &:hover {
        border-radius: 50px;
        background-color: #EAD9E2;
    }
}

.btn--card {
    padding: 10px 2px 10px 2px;
    text-align: center;
    justify-content: center;
    width: 4%;
    height:4%;
    &:hover {
        border-radius: 50px;
        filter: drop-shadow(5px 5px 5px #505d68);
    }
}

.tasks--btn {
    font-family: $font-text;
    padding: 10px 2px 10px 2px;
    text-align: center;
    justify-content: center;
    width: 30px;
    height:30px;
    &:hover {
        filter: drop-shadow(5px 5px 5px #505d68);
    }
}

// boutons kebab menu
.kebab--btn {
    width: 80px;
    background-color: #18B0FF;
    filter:opacity(40%);
    color: white;
    font-weight: 600;
    font-family: $font-text;
    border-radius: 15px;
    transition: 0.3s;
    &:hover {
        transform: scale(1.2);
    }
}
